<app-menu></app-menu>
<div class='component-content'>
  <div class='left-half'>
    <span class='component-title'>[{{title1}}]</span>
    <a routerLink='/pr/list/' title = 'Back to Request List'>Back to List</a>
  </div>
</div>
<p *ngIf='!request'> Loading ... </p>
<table class="table table-sm" *ngIf='request'>
  <tr>
    <th><a class="btn btn-link font-weight-bold"><u>ID: </u></a> </th>
    <th><a class="btn btn-link font-weight-bold"><u>Description: </u></a> </th>
    <th> <a class="btn btn-link font-weight-bold"><u>Status: </u></a> </th>
    <th><a class="btn btn-link font-weight-bold"><u>Total: </u></a> </th>
  </tr>
  <tr>
    <td> {{ request.id }} </td>
    <td> {{ request.description }}</td>
    <td> {{ request.status }} </td>
    <td> {{ request.total |currency }} </td>
  </tr>
</table>


<div class='component-content'>
  <div class='left-half'>
    <span class='component-title'>[{{title2}}]</span>
    <span *ngIf='request'>
      <a routerLink='/prli/create/{{request.id}}'>
        <img id='createnew' width='20' height='20' src='assets/add-icon.png' title='Add New'>
      </a>
    </span>
  </div>
</div>
<table class="table table-sm" *ngIf='prlis'>
  <tr>
    <th><a class="btn btn-link font-weight-bold"><u>ID: </u></a> </th>
    <th><a class="btn btn-link font-weight-bold"><u>Product: </u></a> </th>
    <th> <a class="btn btn-link font-weight-bold"><u>Quantity: </u></a> </th>
    <th><a class="btn btn-link font-weight-bold"><u>Price: </u></a> </th>
    <th><a class="btn btn-link font-weight-bold"><u>Line Total: </u></a> </th>
    <th class="table-secondary btn-link"> Action </th>
  </tr>
  <tr *ngIf='prlis.length == 0' class="table-danger"> 
    <td > No line items yet. Please create a new one! </td>
    <td>  </td>
    <td> </td>
    <td>  </td>
    <td> </td>
    <td> </td>
</tr>
  <tr *ngFor='let prli of prlis'> 
    <td> {{ prli.id}} </td>
    <td> {{ prli.product.name }} </td>
    <td> {{ prli.quantity}} </td>
    <td> {{ prli.product.price |currency }} </td>
    <td> {{ prli.quantity * prli.product.price |currency }}</td>
    <td class='actions'>
        <a routerLink='/prli/edit/{{prli.id}}'><img src='assets/pencil-icon.png' width='20' height='20'
          title='Edit'></a>
        <a (click)='remove(prli)' title='Delete'> <img src='assets/delete.jpg' width='20' height='20'></a>
        </td>
  </tr>


  <button (click)='review()' class='btn btn-warning'>Submit For Review</button>