<app-menu></app-menu>
<style>
    h2{margin-left: 45%;}
    h4{margin-left: 42%;}
    p{margin-left: 22%;}
</style>
<h2>
About
</h2>
<img src = assets\scranton.jpg alt = "scranton"
width = "300" height = "220">
<img src = assets\DunderMifflin.png alt = "dunder mifflin"
width = "700" height = "420">
<img src = assets\MichaelScott.png alt = "michael scott"
height = "272" width = "240">

<h4> Scranton, PA Branch</h4>

<div>
<p> 
    Dunder Mifflin Inc. (stock symbol DMI) is a mid-cap regional paper- and office-supply distributor <br>
    with an emphasis on servicing small-business clients. With a corporate office in New York City, <br>
Dunder Mifflin has branches in Albany, Utica, Scranton, Akron, Nashua, Buffalo, and Rochester.
</p>
</div>